QFrame#fr_fondo{
    background: #05182a;
    border:6px solid #223048;
    border-radius: 30px;
}

QPushButton#btn_cerrar{
    background: #ac0003;
    border-radius: 10px;
}

QPushButton#btn_cerrar:hover{
    background: #ff0008;
}

QLabel#lbl_message{
    font: 25px arial;
    border: 6px solid #223048;
    border-radius: 15px;
    color: #a5b3ff;
}

QPushButton#btn_continuar{
    font: 75 italic 14pt Arial;
    color: #05182a;
    border: 3px solid #2d96ff;
    background: #2d96ff;
    border-radius: 10px;
}

QPushButton#btn_continuar:hover{
    background: #05182a;
    color: #2d96ff;
}

/** De: Francisco Velez */
